    <!-- <div id="display">
        <h1>Display</h1>
        <table>
            <tr>
                <th>Book Name</th>
                <th>Author</th>
                <th>Image</th>
                <th>PDF</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            {% for i,j,k,l,m in mylist %}
            <tr>
                <td>{{j}}</td>
                <td>{{k}}</td>
                <td><img src="{% static l %}" width="100px" height="100px"></td>
                <td><a href="{% static m %}">PDF</a></td>
                <td><a href="http://127.0.0.1:8000/deletebook/{{i}}">Delete</a></td>
                <td><a href="">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
    </div> -->